:root
{
    --custom-color: #9717f2;
    --custom-color-darker: #580792;
    --custom-color-light: #a932ff;
    --custom-color-rgb: 9, 111, 42;
    --custom-color-light-rgb: 146, 247, 178;
    --custom-text-color: #ffffff;
}

.accordion
{
    --bs-accordion-btn-focus-border-color: var(--custom-color-light);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem var(--custom-color-light);
    --bs-accordion-active-bg: var(--custom-color-light);
    --bs-accordion-active-color: var(--custom-color-darker);
}

.btn-primary {
    --bs-btn-bg: var(--custom-color);
    --bs-btn-border-color: var(--custom-color);
    --bs-btn-hover-bg: var(--custom-color-darker);
    --bs-btn-hover-border-color: var(--custom-color-darker);
    --bs-btn-active-bg: var(--custom-color-light);
    --bs-btn-active-border-color: var(--custom-color-light);
    --bs-btn-disabled-bg: var(--bs-success-rgb);
    --bs-btn-disabled-border-color: var(--bs-success-rgb);
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--custom-color-rgb),var(--bs-bg-opacity))!important;
}

.form-check-input:checked {
    background-color: var(--custom-color);
    border-color: var(--custom-color);
}

.form-control:focus, 
.form-check-input:focus {
    border-color: rgba(var(--custom-color-light-rgb), 0.8);
    box-shadow: 0 0 0 4px rgba(var(--custom-color-light-rgb), 0.6);
}

footer {
    background-color: #ac50ee; /* replace with your desired color */
    color: #baf024; /* replace with your desired color */
}

.navbar {
    background-color: #ac50ee !important;
}

.navbar-nav a.nav-link:hover {
    color: #baf024 !important;
}

.navbar-nav a.nav-link.active,
.navbar-nav a.nav-link:focus {
    color: #24e613 !important;
}

.custom-h2 {
    background-color:  #af5aec; /* Custom background color */
    color: #aef08d; /* Custom text color */
    border: 1px solid #000000; /* Add a border if needed */
    padding: 10px; /* Add padding if needed */
    text-align: center; /* Center the text if needed */
  }

/* Add border styles to the carousel */
#demo.carousel {
border: 6px solid #b114d8; /* Border color (adjust to your preference) */
border-radius: 10px; /* Optional: Add border-radius for rounded corners */
overflow: hidden; /* Optional: Hide the overflow content */
}

/* Add border styles to the carousel items */
.carousel-inner {
border: 2px solid #01080d; /* Border color (adjust to your preference) */
}
  
.custom-table {
    background-color: #3498db;
    color: #ffffff;
  }  